<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnerdsemfronteiras.com.br%2Fpoderes-do-capitao-america%2F&psig=AOvVaw1r5-d9drS1NPcoUThJokbR&ust=1709941243885000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJjTztWp44QDFQAAAAAdAAAAABAE"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Testando cards</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      This is my new blog
      Why do we use it?
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point
    </p>
  </div>

</div>
