
<head>
  <!-- Outros meta tags e links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<div class="container__menu-bar">
  <ul>
    <li><a href="https://linkedin.com/in/alexsander-ara%C3%BAjo-a71659181/">Linkedin</a></li>
    <li><a href="https://github.com/alexsanderthorne">Github</a></li>
    <li><a href="https://instagram.com/alexsanderaraujo4/">Instagram</a></li>
    <li><a href="#">Contato</a></li>
    <li><a href="#">Sobre</a></li>

    <li><a class="social-icon" href="https://linkedin.com/in/alexsander-ara%C3%BAjo-a71659181/"><i class="fab fa-linkedin"></i></a></li>
    <li><a class="social-icon" href="https://github.com/alexsanderthorne"><i class="fab fa-github"></i></a></li>
    <li><a class="social-icon" href="https://instagram.com/alexsanderaraujo4/"><i class="fab fa-instagram"></i></a></li>

  </ul>
</div>
